<div>
  <h2>Safe User DTO Info</h2>
  <p>Fullname: {{user.fullName}}</p>
  <p>Email: {{user.email}}</p>
  <p>Role: {{user.role}}</p>
</div>
<a href="http://localhost:8080/"> <button> Home </button></a>
<button style="width: 120px" id="logout">Logout </button>
<script src="/js/logout.js"></script>